body{
    background: rebeccapurple;
    font: normal 18pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    padding: 15px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
footer{
color: white;
text-align: center;
font: italic 10pt Arial;
}